@model YourProject.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-wrapper">

<div id="hero" class="hero">

    

    <div class="wrapper">
            <div class="heroText">
                <p >WELCOME TO</p>
                <h1>INTERSTELLAR <br />HOTEL</h1>
                <p >
                    Book your stay and enjoy Luxury <br />
                    redefined at the most affordable rates.
                </p>

                <a href="">BOOK NOW</a>
            </div>

    </div>

        <div class="color-overlay"></div>
</div>



    <div id="roomType" class="roomType wrapper">
        <h1>FIND YOUR ROOM</h1>
            @foreach (var roomType in Model.RoomTypes)
            {

                <div class="room-card">   
                    <div class="card-left">
                        <h1>@roomType.Type</h1>
                        <p>@roomType.Description</p>
                        <a href="/Bookings/Create">$@(roomType.Price) Avg/night</a>

                    </div>

                        <img src="/images/@(roomType.Type).jpg" />
                </div>
               
            }
    </div>




    <div id="aboutUs" class="aboutUs wrapper">

        <div class="about-left">
            <h1 id="AboutUs">ABOUT US</h1>
            <img src="/images/logo.png" />
        </div>
        
        <div class="about-right">
            
                <h2>INTERSTELLAR HOTEL</h2>
                <p> "Interstellar, nestled between the whispering palms of Serenity Island and the azure embrace of Mermaid Bay, just a seashell's throw away from the fabled Fountain of Eternal Chill."</p>
                <h6>
                    Welcome to the Interstellar Hotel, where time drifts lazily along with the gentle sea breeze, and the sun dances upon the waves like a troupe of mischievous dolphins.
                    Our hotel stands as a beacon of relaxation and folly amidst the shimmering sands and coconut-scented dreams of Serenity Island. As you step into our lobby, you'll
                    be greeted by the cheerful chatter of seagulls and the soothing melody of the ukulele-playing concierge, who is known to answer even the most perplexing questions
                    with a wink and a smile.
                </h6>
        </div>

    </div>





    <div id="feedback" class="wrapper gap-4 d-flex flex-column justify-content-center align-items-center container-fluid">
        <h1>Testimonials</h1>
        <div class="d-flex justify-content-around container-fluid">
            @foreach (var feedback in Model.Feedbacks)
            {

            <div class="feedback-comment">
               <h2>"@(feedback.Comment)"</h2>
               <p>@(feedback.User) - @(feedback.Rating)/5</p>
            </div>
            }
        </div>

        <a href="/feedback/Create">GIVE FEEDBACK</a>
    </div>



</div>


<script src="/_framework/aspnetcore-browser-refresh.js"></script>
