@model List<RoomTypeDto>
@using Application.DTOs
<div class="d-flex justify-content-center wrapper">

    <div style="width:100%">

<div class="crudIndex">
    <div class="buttons-title">
        <h3>Room Type</h3>
        <a asp-controller="RoomType" asp-action="Create" class="btn btn-success"><span class="material-icons">add_circle</span>  Add New Room Type</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Price /night</th>
                <th>Capacity</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Price) $
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td class ="align-middle">
                        @if (item.Photos != null && item.Photos.Any())
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photos.First().PhotoData)" alt="Car Photo" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <span>No Photo</span>
                        }
                    </td>
                    <td class="align-middle d-flex gap-2">
                        <a class="btn btn-outline-primary" asp-controller="RoomType" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons">edit</span></a>
                        <a class="btn btn-outline-info" asp-controller="RoomType" asp-action="Details" asp-route-id="@item.Id"><span class="material-icons">info</span></a>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('All Rooms that have this RoomType will be deleted. Are you sure you want to delete this item?');">
                            <button type="submit" class="btn btn-danger"><span class="material-icons">delete</span></button>
                        </form>
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
</div>
</div>
