@model Application.DTOs.PaymentDto
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.Rendering

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<style>
    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #007bff;
        border-radius: 10px 10px 0 0;
        color: white;
    }

    .btn-create {
        background-color: #28a745;
        width: 100%;
        margin-top: 20px;
    }

    .form-control {
        border-radius: 5px;
    }

    .text-danger {
        color: #dc3545;
    }
</style>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create Payment <i class="fas fa-credit-card"></i></h2>
            </div>
            <div class="card-body">
                <form id="paymentForm" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label for="PaymentMethod">Payment Method:</label>
                        <select asp-for="PaymentMethod" class="form-control" id="PaymentMethod" data-val="true" data-val-required="">
                            <option value="">Select Payment Method</option>
                            @foreach (var method in Enum.GetValues(typeof(PaymentMethod)))
                            {
                                <option value="@method">@method</option>
                            }
                        </select>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="BillId">Bill ID:</label>
                        <select asp-for="BillId" class="form-control" id="BillId" data-val="true" data-val-required="">
                            <option value="">Select Bill</option>
                            @foreach (var bill in Model.Bills)
                            {
                                <option value="@bill.Id" data-total-amount="@bill.TotalAmount" data-username="@bill.Username">@bill.Id</option>
                            }
                        </select>
                        <span asp-validation-for="BillId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Username">Username:</label>
                        <input type="text" asp-for="Username" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label for="TotalAmount">Total Amount:</label>
                        <input type="text" asp-for="TotalAmount" class="form-control" readonly />
                    </div>

                    <button type="submit" class="btn btn-success btn-create" id="pay-now-button"><i class="fas fa-check"></i> Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(document).ready(function () {
        $('#BillId').change(function () {
            var totalAmount = $('option:selected', this).data('total-amount');
            var username = $('option:selected', this).data('username');
            $('#TotalAmount').val(totalAmount);
            $('#Username').val(username).prop('readonly', true);
        });
    });
</script>